# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Metro
.metro-health-check*

# Native
*.keystore
*.p8
*.p12
*.key
*.mobileprovision

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Environment
.env
.env.*
!.env.example